<div class="well">
  <div class="welcome-message">
    <h3>Welcome to ember-blog</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat, erat at aliquet ullamcorper, ligula risus gravida ipsum, eu hendrerit felis ligula ut lacus. Mauris congue nisl sed malesuada pharetra. Quisque sed nulla ultricies, aliquet massa ac, sollicitudin turpis. Curabitur id lacus mattis, fermentum urna mollis, auctor sem. Donec fringilla magna nec enim porta, ut egestas nibh auctor. Vestibulum sed fermentum sapien, in pellentesque risus.</p>
  </div>
  <div class="what-we-provide">
    <h3>What we provide</h3>
    <ul class="random-ul-list">
      <li>Logistics</li>
      <li>Tacos</li>
      <li>Couches</li>
      <li>Spell Check built in!?</li>
    </ul>
  </div>
</div>
<div class="well">
  <div class="all-posts">
    <h3>All Posts (below)</h3>
    <ul>
      {{post-tile}}
    </ul>
  </div>
  <div class="new-post">
    {{new-post}}
  </div>
</div>
